@model eBSH.Models.CBSPaginatedVM
@{
    ViewBag.Title = "Danh sách đơn Cyber";
    Layout = "~/Areas/manage/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-12 mt-5">
    <div class="card">
        <div class="card-body">
            <div class="single-table">
                <div class="table-responsive">
                    <div>
                        @using (Html.BeginForm("Index", "CyberManage", FormMethod.Get))
                        {
                            <div class="form-row align-items-center">
                                <div class="col-sm-3 my-1">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="denngay">CTBH</span>
                                        </div>
                                        @Html.DropDownList("Ma_CTBH", new SelectList(ViewBag.ListCTBH, "CTBH", "CTBHName"), new { @class = "form-control dropdown" })
                                    </div>
                                </div>
                                <div class="col-sm-2 my-1">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="tungay">Từ </span>
                                        </div>
                                        <input type="text" class="form-control datepicker" id="SDate" value="@ViewBag.SDate" placeholder="dd/MM/yyyy" name="SDate" data-date-format="dd/mm/yyyy" data-date-end-date="0d" />
                                    </div>
                                </div>
                                <div class="col-sm-2 my-1">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="denngay">đến </span>
                                        </div>
                                        <input type="text" class="form-control datepicker" id="EDate" value="@ViewBag.EDate" placeholder="dd/MM/yyyy" name="EDate" data-date-format="dd/mm/yyyy" data-date-end-date="0d" />
                                    </div>
                                </div>
                                <div class="col-sm-2 my-1">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="denngay">&nbsp;</span>
                                        </div>
                                        <div class="col-auto my-1">
                                            <button type="submit" class="btn btn-primary">Lọc</button>
                                            <a href="@Url.Action("ExportData","CyberManage", new {MA_CTBH = ViewBag.MA_CTBH, SDate = ViewBag.SDate, EDate = ViewBag.EDate })" class="btn btn-primary" target="_blank">Xuất dữ liệu</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <table class="table table-hover progress-table text-left" id="table">
                        <thead class="text-uppercase">
                            <tr class="item">
                                <th scope="col">Số</th>
                                <th scope="col">Số hợp đồng</th>
                                <th scope="col">CTBH</th>
                                <th scope="col">MTNBH</th>
                                <th scope="col">Phí BH</th>
                                <th scope="col">Hiệu Lực</th>
                                <th scope="col">Họ Tên</th>
                                <th scope="col">Số CCCD/Hộ chiếu</th>
                                <th scope="col">Số điện thoại</th>
                                <th scope="col">Địa chỉ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PaginatedList())
                            {
                                <tr>
                                    <th scope="row" style="text-align:left">@Html.ActionLink(@item.SO_ID.ToString(), "Detail", "CyberManage", new { id = item.SO_ID }, null)</th>
                                    <td>@item.SO_HD</td>
                                    <td>@item.CTBH</td>
                                    <td>@item.MTNBH</td>
                                    <td>@item.PHIBH</td>
                                    <td>@item.NGAY_HL đến @item.NGAY_KT</td>
                                    <td>@item.HO_TH @item.TEN_TH</td>
                                    <td>@item.SO_CC</td>
                                    <td>@item.PHONE</td>
                                    <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100px;" title="@item.DCHIKH">@item.DCHIKH</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>


            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { page = Model.CurrentPage > 1 ?  Model.CurrentPage - 1 :1, MA_BH = ViewBag.MA_BH, MA_CTBH = ViewBag.MA_CTBH, SDate = ViewBag.SDate, EDate = ViewBag.EDate })">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </li>
                @if (Model.PageCount() <= 10)
                {
                    for (int i = 1; i <= (Model.PageCount() < 10 ? Model.PageCount() : 10); i++)
                    {
                        <li class="@(Model.CurrentPage == i ? "page-item active" : "page-item")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i, MA_BH = ViewBag.MA_BH, MA_CTBH = ViewBag.MA_CTBH, SDate = ViewBag.SDate, EDate = ViewBag.EDate })">@i</a>
                        </li>
                    }
                }
                else
                {
                    if (Model.CurrentPage <= 4)
                    {
                        for (int i = 1; i <= (Model.PageCount() < Model.CurrentPage + 3 ? Model.PageCount() : Model.CurrentPage + 3); i++)
                        {
                            <li class="@(Model.CurrentPage == i ? "page-item active" : "page-item")">
                                <a class="page-link" href="@Url.Action("Index", new { page = i, MA_BH = ViewBag.MA_BH, MA_CTBH = ViewBag.MA_CTBH, SDate = ViewBag.SDate, EDate = ViewBag.EDate })">@i</a>
                            </li>
                        }
                        <li class="page-item">
                            <a class="page-link" href="#">..</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", new { page = Model.PageCount(), MA_BH = ViewBag.MA_BH, MA_CTBH = ViewBag.MA_CTBH, SDate = ViewBag.SDate, EDate = ViewBag.EDate})">
                                @Model.PageCount()
                            </a>
                        </li>
                    }
                    else if (Model.CurrentPage < Model.PageCount() - 3)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", new { page = 1, MA_BH = ViewBag.MA_BH, MA_CTBH = ViewBag.MA_CTBH, SDate = ViewBag.SDate, EDate = ViewBag.EDate })">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">..</a>
                        </li>
                        for (int i = (Model.CurrentPage > 4 ? Model.CurrentPage - 3 : Model.CurrentPage); i <= (Model.PageCount() < Model.CurrentPage + 3 ? Model.PageCount() : Model.CurrentPage + 3); i++)
                        {
                            <li class="@(Model.CurrentPage == i ? "page-item active" : "page-item")">
                                <a class="page-link" href="@Url.Action("Index", new { page = i, MA_BH = ViewBag.MA_BH, MA_CTBH = ViewBag.MA_CTBH, SDate = ViewBag.SDate, EDate = ViewBag.EDate })">@i</a>
                            </li>
                        }
                        <li class="page-item">
                            <a class="page-link" href="#">..</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", new { page = Model.PageCount(), MA_BH = ViewBag.MA_BH, MA_CTBH = ViewBag.MA_CTBH, SDate = ViewBag.SDate, EDate = ViewBag.EDate})">
                                @Model.PageCount()
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", new { page = 1, MA_BH = ViewBag.MA_BH, MA_CTBH = ViewBag.MA_CTBH, SDate = ViewBag.SDate, EDate = ViewBag.EDate })">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">..</a>
                        </li>
                        for (int i = (Model.CurrentPage > 4 ? Model.CurrentPage - 3 : Model.CurrentPage); i <= Model.PageCount(); i++)
                        {
                            <li class="@(Model.CurrentPage == i ? "page-item active" : "page-item")">
                                <a class="page-link" href="@Url.Action("Index", new { page = i, MA_BH = ViewBag.MA_BH, MA_CTBH = ViewBag.MA_CTBH, SDate = ViewBag.SDate, EDate = ViewBag.EDate })">@i</a>
                            </li>
                        }
                    }
                }

                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { page = Model.CurrentPage < Model.PageCount() ?  Model.CurrentPage + 1: Model.PageCount(), MA_BH = ViewBag.MA_BH, MA_CTBH = ViewBag.MA_CTBH, SDate = ViewBag.SDate, EDate = ViewBag.EDate})">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
